<!DOCTYPE HTML>
<html ng-app="staffing">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
<script src="/js/staffing.js"></script>
<head>
    <title>A nice form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel='stylesheet' type='text/css' />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>

<div class="container">

    <h1> Reading Beer and Cider Festival</h1>
    <h2>The Volunteering Form is now closed</h2>

    <p>However it is not too late to volunteer. Just turn up at the Festival!</p>
    <p>When you arrive, there may be a queue of public waiting to get in, but you should not join the queue.
        Please go in via the Staff Entrance. Be sure you have your CAMRA membership card with you.</p>
</div>

</body>
</html>