<!DOCTYPE HTML>
<html>
<head>
    <title>Reading Beer and Cider Festival</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
</head>
<body>

<div class="container">

    <h1>Reading Beer and Cider Festival</h1>
    <h2>Page Not Found</h2>

    <form method="post" name="staffingForm" ng-controller="FormController" ng-submit="submitForm()" class="ng-pristine ng-valid ng-scope">

        <!-- ngIf: response.success -->
        <!-- ngIf: response.error --><div ng-if="response.error" class="ng-scope">
        <!-- ngInclude: '/form/include/errors' --><div ng-include="'/form/include/errors'" class="ng-scope"><div class="error ng-scope">
        <i class="fa fa-times-circle-o"></i>
        <!-- ngRepeat: error in response.errors --><span ng-repeat="error in response.errors" class="ng-scope">
        <p ng-bind-html="error" class="ng-binding">This URL is not valid. Click <a href="/">here</a> to fill in the Staffing Form.
            </p>
    </span><!-- end ngRepeat: error in response.errors -->
    </div></div>
    </div><!-- end ngIf: response.error -->
        <!-- ngIf: form.verificationForm -->
        <!-- ngIf: form.emailForm -->

        <!-- ngIf: form.mainForm -->

        <!-- ngIf: form.submit -->

    </form>
</div>


<div class="windowsize-size"></div></body></html>