<div class="section">
    <h3><i class="fa fa-check"></i>Finally</h3>
    <div class="row">
        <p>Please confirm you have read and understood the
            <a href="https://drive.google.com/file/d/1M8Je7WMK8NGZvgYef1iWufFxH_iOrDmw/view?usp=sharing" target="_blank">Instructions for Staff</a></p>
        <label class="selector wide">
            <i class="fa fa-question-circle-o"></i>Confirmed:
            <input id="instructions" type="checkbox" ng-model="form.instructions" ng-required="true"/>
            <span class="checkmark skills"></span>
        </label>
    </div>
</div>
