<div class="section">
    <h3><i class="fa fa-graduation-cap"></i>Skills and Qualifications</h3>
    <p>If you have any relevant skills or qualifications, please let us know<br/>
        Do not worry if you do not hold any of these skills or qualifications, this is not a requirement</p>


    <div class="row">
        <label class="selector wide">
            <i class="fa fa-medkit"></i>First Aid:
            <input id="firstaid" type="checkbox" ng-model="form.firstAid"/>
            <span class="checkmark skills"></span>
        </label>
    </div>
    <div class="row">
        <label class="selector wide">
            <i class="fa fa-coffee"></i>SIA:
            <input id="sia" type="checkbox" ng-model="form.sia"/>
            <span class="checkmark skills"></span>
        </label>
    </div>

    <div class="row">
        <label class="selector wide">
            <i class="fa fa-beer"></i>Cellar Management:
            <input id="cellar" type="checkbox" ng-model="form.cellar"/>
            <span class="checkmark skills"></span>
        </label>
    </div>
    <div class="row">
        <label class="selector wide">
            <i class="fa fa-cog"></i>Fork-left license:
            <input id="forklift" type="checkbox" ng-model="form.forkLift"/>
            <span class="checkmark skills"></span>
        </label>
    </div>


</div>
