<!doctype html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;GENERATE_GETTERS&quot;:false,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
  <meta name="vaadin-version" content="8.0.5">
 </head>
 <body>
  <vaadin-css-layout size-full style-name="valo-menu">
   <vaadin-css-layout style-name="valo-menu-part" responsive _id="menuPart">
    <vaadin-horizontal-layout style-name="valo-menu-title">
     <vaadin-image source="theme://img/table-logo.png"></vaadin-image>
     <vaadin-label style-name="h3" plain-text>
      Volunteering
     </vaadin-label>
    </vaadin-horizontal-layout>
    <vaadin-css-layout style-name="valo-menuitems" _id="volunteerMenuItems"></vaadin-css-layout>
    <vaadin-css-layout style-name="valo-menuitems" _id="sessionMenuItems"></vaadin-css-layout>
    <vaadin-css-layout style-name="valo-menuitems" _id="areaSessionMenuItems"></vaadin-css-layout>
   </vaadin-css-layout>
  </vaadin-css-layout>
  </vaadin-css-layout>
 </body>
</html>